include CHANGELOG
include LICENSE
include README.rst
recursive-include examples *.py
recursive-include tests *.py
recursive-include dcoraid *.css *.png *.py *.svg *.theme *.txt *.ui COPYING* LICENSE README
